// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue : #4FC9FF;
$red : #FC695B;
$dark_grey : #183643;
$medium_grey :#67757B;

$break-small: 320px;
$break-large: 1200px;


.wrapper {
	width:95%;
	margin: 0 auto;
}

.product-header{
	background-color: $blue;
	color: white;
	text-align:center;
	height:50px;
	h4 {
		padding-top:10px;
		font-size:25px;
	}

}

.description {
	padding-top:20px;
	text-align:center;
}



.product-img {
	width: 33%;
	text-align: center;
	margin: 0 auto;
}

.action-buttons {
	text-align: center;
}

.new-product {
	clear:both;
}

.button {
	outline: none;
    border: none;
    background: $red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 -1px 0 #c65145;
    border-radius: 4px;
    position: relative;
    height: 40px;
    width: 175px;
    padding-bottom: 5px;
}

.button a:hover{
	color:white;
	background-color: $red;	
}

.action-buttons {
	border-top: 1px solid $medium_grey;
}






/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product1-price{
	font-size: 22px;
	position:relative;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}
.service-image {
	max-height: 200px;
}
.service-image > center > img{
	max-height: 155px;
}

.highest-rating-comment {
    border-bottom: 1px solid grey;
    padding: 20px 0;
   }
