// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue : #4FC9FF;
$red : #FC695B;
$dark_grey : #183643;
$medium_grey :#67757B;

$break-small: 320px;
$break-large: 1200px;



/******************************************
			INDEX
*******************************************/

// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
	margin-top: 0px
}

.product-container{
	margin-bottom: 10px;
    margin-left: 20px;
    float: left;
    text-align: left;
    position: relative;
    height: 315px;
    padding: 5px;
    min-width: 375px;
}



.product-container:hover {

	border:1px solid $blue;

	 .product-title {
	   color: $blue;
	};
	.product-image {
	   opacity: 0.8;
	};

}


.image-container{
	    min-height: 250px !important;
}
.product-image{
	height: 250px;
    max-height: 250px !important;
}

.product-title{
	padding: 0px 5px;
    font-size: 14px;
}

.grid-product-info{
	margin-bottom: 20px;
    color: $medium_grey;
    font-size: 12px;
    line-height: 1.2em;
    text-align: left;
    padding: 0px 5px;
}


.btn-custom {
	    background-color: #e74c3c !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e74c3c", endColorstr="#e74c3c");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e74c3c), to(#e74c3c));
    background-image: -moz-linear-gradient(top, #e74c3c, #e74c3c);
    background-image: -ms-linear-gradient(top, #e74c3c, #e74c3c);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e74c3c), color-stop(100%, #e74c3c));
    background-image: -webkit-linear-gradient(top, #e74c3c, #e74c3c);
    background-image: -o-linear-gradient(top, #e74c3c, #e74c3c);
    background-image: linear-gradient(#e74c3c, #e74c3c);
    border-color: #c0392b;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}






/*********************************************
        		Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}


.product-desc{
	font-size: 14px;
}


.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.container-fluid{
	max-width: 1140px;
	margin: 0 auto;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}
.service-image {
	max-height: 200px;
}
.service-image > center > img{
	max-height: 155px;
}

.highest-rating-comment {
    border-bottom: 1px solid grey;
    padding: 20px 0;
   }



/******************************************
				REVIEW
******************************************/


#add_review input, #add_review textarea {
	border: 4px solid rgba(0,0,0,0.1);
	padding: 8px 10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	outline: 0;
}

#add_review textarea {
	width: 350px;
}

#add_review input[type="submit"] {
	cursor: pointer;
	background: -webkit-linear-gradient(top, #efefef, #ddd);
	background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);
	background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
}

#add_review input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);
	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);
	border: 1px solid #bbb;
}

#add_review input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);
	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);
	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	
	border: 1px solid #999;
}
