
$grey : #67757B;
$blue : #4FC9FF;

h1 {
	color: $grey;
	font-family: Futura, Helvetica, Arial, sans-serif;
}

.navbar {
	width:100%;
	margin: 0 auto;
	position:relative;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*nav {

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	}

	li {
	    float: left;
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	li a:hover {
    background-color: #111;
	}

} */


.my-image {
	margin: 0 auto;
}
#sticky {
    padding: 0.2ex;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 1.5em;
}


#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}


.site-footer {
	color: $grey;
	text-align:center;
	padding-top:25px;
	height: 50px;
	clear:both;
}

.product-name{
  position: absolute;
  bottom: 85%;
  left: 5%;
  z-index: 20;
  color: $blue;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.product-price{
  position: absolute;
  bottom: 80%;
  left: 10%;
  z-index: 20;
  color: $blue;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

