<% if signed_in? %>
</br>
  <%= form_for([@product, @product.comments.build], html: {id: "add_review"}) do |f| %>
    <p>
      <%= f.text_area :body ,placeholder: "Give us a review.." %>
    </p>
    <p>
      <%= f.label :rating %><br>
      <div class="rating"></div>
    </p>  
    <p>
      <%= f.submit "Add Review" %>
    </p>
  <% end %>
<% end %>