

<div class="wrapper">

  <p id="notice"><%= notice %></p>


  <% if signed_in? && current_user.admin? %>
    <div class="new-product">
      <button class="btn btn-primary"><%= link_to 'New Product', new_product_path %></button>
    </div>
  <% end %>
  <% cache(cache_key_products) do %>
  <%= render @products %>
  <% end %>
  <br>
  <br>
</div>

